.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ddd;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.hero {
  text-align: center;
  margin-bottom: 100px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ddd;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ddd;
}

.cta {
  margin-top: 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
}

.about, .features {
  text-align: center;
  margin-bottom: 100px;
}

.about h2, .features h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ddd;
}

.about p, .features p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ddd;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featureItem {
  width: 30%;
}

.footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #121212;
}

.footer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ddd;
}

.footer p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #ddd;
}

.quoteContainer {
  position: relative; 
  height: 350px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
  padding-left: 15px;
}
.quoteContainer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px; /* adjust width as per requirement */
  background-color: #ffffff; /* change color as per requirement */
  /* height: 140px; */
}


.quote {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
}

.quote.prev {
  animation: fadeOut 1.5s ease forwards;
}

.quote.active {
  animation: fadeIn 1.5s ease forwards;
}

.quote.next {
  transform: translateY(-100%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.description {
  margin: 0;
  margin-bottom: 35px;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ddd;
}

.description button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333; /* dark background */
  color: #fff; /* light text */
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.description button:hover {
  background-color: #0070f3; /* slightly lighter on hover */
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 30px;
}